- provide(:title_page, 'Home')

- if current_user
  %div.row
    %div.welcome
      %h3 Welcome! #{current_user.name}
      %br
      %p Тут должен быть слайдер из картинок из подписанных категорий
      %p #{current_user.followed_categories.count} categories
      %ol
        = render partial: 'categories/category', collection: current_user.followed_categories, as: :category

- else
  %div.center.jumbotron.text-center
  %h1 Welcome To Gallery
  = link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary'

